{% load frontend %}
{% load i18n %}
{% load static %}

{% include "frontend/partials/heading.html" with title=_("Players") button_label=_("Create Player") button_aria_label=_("Create Player") button_unicorn_action="show_create" %}

<table aria-label="{% translate "Player list" %}" {% include "frontend/partials/table_attrs.html" %}>

    <thead>
    <tr {% include "frontend/partials/table_head_row_attrs.html" %}>
      {% include "frontend/partials/table_head_col.html" with title=_("Name") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Email address") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Description") %}
      {% include "frontend/partials/table_head_col.html" with title=_("World memberships") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Actions") align="right" %}
    </tr>
    </thead>

    <tbody {% include "frontend/partials/table_body_attrs.html" %}>
    {% for player in object_list %}
      <tr {% include "frontend/partials/table_row_attrs.html" %}>
        {% include "frontend/partials/table_cell.html" with title=_("Username") content=player.username %}
        {% include "frontend/partials/table_cell.html" with title=_("Email address") content=player.email %}
        {% if player.comment %}
        {% include "frontend/partials/table_cell.html" with title=_("Description") content=player.comment %}
        {% else %}
          <td class="hidden lg:table-cell"></td>
        {% endif %}
        {% if player.worlds.all %}
          {% include "frontend/partials/table_cell.html" with title=_("World memberships") content=player.worlds.all|join:", " %}
        {% else %}
          <td class="hidden lg:table-cell"></td>
        {% endif %}
        <td {% include "frontend/partials/table_cell_attrs.html" with type="actions" %}>
          {% include "frontend/partials/table_actions_header.html" %}
          <div {% include "frontend/partials/table_responsive_attrs.html" %}>
            {% include "frontend/partials/button_icon.html" with icon="icons/pencil-alt.svg" unicorn_action="show_update"|withparam:player.pk title=_("Edit") aria_label=_("Edit") %}
            {% include "frontend/partials/button_icon.html" with icon="icons/trash.svg" unicorn_action="delete"|withparam:player.pk title=_("Delete") aria_label=_("Delete") %}
          </div>
          </td>
      </tr>
    {% endfor %}
    </tbody>

</table>
