{% load i18n %}
{% load static %}

<div class="mx-4">
  {% include "frontend/partials/room_list.html" with rooms=object_list %}
  <div class="flex justify-end">{% include "frontend/partials/button.html" with label=_("Create Room") aria_label=_("Create Room") color="purple" unicorn_action="show_create" %}</div>

  <script type="text/javascript">

   // Slugify a string
   function slugify(str)
   {
     str = str.replace(/^\s+|\s+$/g, '');

     // Make the string lowercase
     str = str.toLowerCase();

     // Remove accents, swap ñ for n, etc
     var from = "ÁÄÂÀÃÅČÇĆĎÉĚËÈÊẼĔȆÍÌÎÏŇÑÓÖÒÔÕØŘŔŠŤÚŮÜÙÛÝŸŽáäâàãåčçćďéěëèêẽĕȇíìîïňñóöòôõøðřŕšťúůüùûýÿžþÞĐđßÆa·/_,:;";
     var to   = "AAAAAACCCDEEEEEEEEIIIINNOOOOOORRSTUUUUUYYZaaaaaacccdeeeeeeeeiiiinnooooooorrstuuuuuyyzbBDdBAa------";
     for (var i=0, l=from.length ; i<l ; i++) {
       str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
     }

     // Remove invalid chars
     str = str.replace(/[^a-z0-9 -]/g, '')
     // Collapse whitespace and replace by -
              .replace(/\s+/g, '-')
     // Collapse dashes
              .replace(/-+/g, '-');

     return str;
   }


   function generate_url(){
     name_value = document.querySelector("input[id=name]").value;
     url_field = document.querySelector("input[id=url]");
     url_field.value = "/@/wa/" + "{{ world.slug }}" + "/" + slugify(name_value);
     Unicorn.trigger("rooms", "url");
   };
  </script>


</div>
