{% load frontend %}
{% load i18n %}
{% load static %}

{% include "frontend/partials/heading.html" with title=_("Worlds") button_label=_("Create World") button_aria_label=_("Create World") button_unicorn_action="show_create" %}

<table aria-label="{% translate "World list" %}" {% include "frontend/partials/table_attrs.html" %}>

    <thead>
    <tr {% include "frontend/partials/table_head_row_attrs.html" %}>
      {% include "frontend/partials/table_head_col.html" with title=_("ID") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Name") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Rooms") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Players") %}
      {% include "frontend/partials/table_head_col.html" with title=_("Actions") align="right" %}
    </tr>
    </thead>

    <tbody {% include "frontend/partials/table_body_attrs.html" %}>
    {% for world in object_list %}
      {% url "rooms" world.pk as overview_url %}
      <tr {% include "frontend/partials/table_row_attrs.html" %}>
        {% include "frontend/partials/table_cell_link.html" with title=_("ID") content=world.id href=overview_url %}
        {% include "frontend/partials/table_cell_link.html" with title=_("Name") content=world.name href=overview_url%}
        {% include "frontend/partials/table_cell_link.html" with title=_("Rooms") content=world.rooms.all|length href=overview_url%}
        {% include "frontend/partials/table_cell_link.html" with title=_("Players") content=world.memberships.exclude_anonymous|length href=overview_url %}
        <td {% include "frontend/partials/table_cell_attrs.html" with type="actions" %}>
          {% include "frontend/partials/table_actions_header.html" %}
          <div {% include "frontend/partials/table_responsive_attrs.html" %}>
            {% url "export-world-players" world.pk as export_url %}
            {% url "import-world-players" world.pk as import_url %}
            {% include "frontend/partials/link_button_icon.html" with icon="icons/eye.svg" href=overview_url title=_("View world details") aria_label=_("View world details") %}
            {% include "frontend/partials/button_icon.html" with icon="icons/pencil-alt.svg" unicorn_action="show_update"|withparam:world.pk title=_("Edit world details") aria_label=_("Edit world details") %}
            {% include "frontend/partials/link_button_icon.html" with icon="icons/globe.svg" href=world.url title=_("Enter world") aria_label=_("Enter world") %}
            {% include "frontend/partials/link_button_icon.html" with icon="icons/import.svg" href=import_url title=_("Import players") aria_label=_("Import players") %}
            {% include "frontend/partials/link_button_icon.html" with icon="icons/export.svg" href=export_url title=_("Export players") aria_label=_("Export players") %}
            {% include "frontend/partials/button_icon.html" with icon="icons/trash.svg" unicorn_action="delete"|withparam:world.pk title=_("Delete world") aria_label=_("Delete world") %}
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>

</table>
