{% load frontend %}
{% load i18n %}
{% load static %}

<div class="sm:grid sm:grid-cols-3 sm:gap-1 sm:items-start pt-5 sm:pb-5">
    <label for="selected_tags" class="block">{{ name_plural }}</label>
    {% if added_instances %}
    <div class="mt-1 sm:mt-0 sm:col-span-1">
        <div id="{{ selected_instances }} class="w-full gap-y-1 gap-x-2">
            {% for instance in added_instances %}
              <button u:click.prevent="{{remove_instance}}({{ instance.pk }})" aria-label="{% trans 'Remove item' %}" class="mb-1 inline-flex items-center bg-purple text-white px-2 rounded">{{ instance.name }}<img src="{% static 'icons/x.svg' %}" aria-hidden="true" class="h-2 pl-2"></button>
            {% endfor %}
        </div>
    </div>
    {% else %}
      <span class="font-normal text-lg">{% blocktrans %} No {{ name_plural }} assigned {% endblocktrans %}</span>
    {% endif %}
    <div class="pt-2 sm:mt-0 sm:col-span-1 sm:col-start-2">
        <input type="search"
        id="{{ input_id }}"
        unicorn:model="{{ unicorn_model }}"
        autocomplete="off"
        placeholder="{% blocktrans %} Type to search and add {{ name_plural }} {% endblocktrans %}"
        class="w-full"
        >
        {% with suggested_instances=get_suggested_instances %}
          {% if suggested_instances %}
            <div class="mt-2">
              {% for instance in suggested_instances %}
              <button u:click.prevent="{{ add_instance }}({{ instance.pk }})" aria-label="{% trans 'Add tag' %}" class="px-2 flex items-center">{{ instance.name }}<img src="{% static 'icons/plus.svg' %}" aria-hidden="true" class="ml-2 p-1 bg-purple rounded-sm"></button>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    </div>
</div>
