{% load i18n %}

<div class="sm:grid sm:grid-cols-3 sm:gap-4 {% if id == 'filter_choices' %}sm:items-center font-bold py-4 lg:-mb-8 {% else %}sm:items-start pt-5 sm:pb-5{% endif %} ">
  <label for="{{ id }}" class="block {% if id == 'filter_choices' %}mx-4{% endif %}">{{ label }}</label>
  <div class="mt-1 sm:mt-0 sm:col-span-1 {% if id == 'filter_choices' %}px-4{% endif %}">
    <select {% if id == 'filter_choices' %}unicorn:click="get_queryset" u:model="{{ unicorn_model }}"{% else %}u:model.defer="{{ unicorn_model }}"{% endif %} {% if multiple %}multiple{% endif %} class="w-full">
      {% if not explicit_attribute_access %}
        {% for type in choices %}
          <option value="{{ type.0 }}">{{ type.1 }}</option>
        {% endfor %}
      {% else %}
        <option value=null selected>All rooms</option>
        {% for r in rooms %}
          <option value="{{ r.pk }}">{{ r  }}</option>
        {% endfor %}
      {% endif %}
    </select>
    {% if user_hint %}
      {% include "frontend/partials/form_hint.html" with user_hint=user_hint %}
    {% endif %}
  </div>
</div>
