{% load static %}
{% load i18n %}

<div class="hidden lg:inline">
  <img src="{% static icon %}" aria-hidden=true title="{{ title }}" class="p-2">
  <span class="sr-only">{{ aria_label }}</span>
</div>
<div class="visible lg:hidden mt-2 flex">
  <span class="w-24 md:w-40 lg:w-auto">{% trans 'Status' %}: </span><span class="bg-{{ color }} px-1 -ml-1 rounded-sm">{{ title }}</span>
</div>
