{% load i18n %}
{% load static %}

<div class="my-8 flex flex-col md:flex-row items-center gap-4 border-4 border-green font-blinker text-grey-100 text-lg ">
  <div class="w-full lg:w-32 lg:flex-0 block bg-green border-4 border-green p-2 text-center">
    <img src="{% static 'icons/check-circle.svg' %}" aria-hidden="true" class="mx-auto h-10 p-1">
    <div class="font-bungee text-xl uppercase font-bold text-grey-1 text-center tracking-wide">{% trans 'Success' %}</div>
  </div>
  <div class="flex-grow bg-grey-1 pb-4 md:pb-0">
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
